@import url('https://fonts.googleapis.com/css2?family=Oi&family=Yeseva+One&display=swap');

body {
    background: url(https://i.redd.it/z7hvekdvbvj71.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  h1 {
    font-family: 'Oi', cursive;
    font-size: 60px;
    color: cornsilk;
    -webkit-text-stroke: 2px deeppink;
    margin:0;
    margin-bottom: .5em;
    padding: 1em;
    text-align: center;
  }

  .home img  {
    float:left;
  }

  p  {
    width: 50%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    float: left;
    padding: 15px;
    font-size: 25px;
    margin-left: 60px;
    background-color: rgb(255, 182, 193, 0.7);
  }

  h2 {
    float: right;
    margin-right: 90px;
    text-align: center;
    color: cornsilk;
    -webkit-text-stroke: 0.5px yellow;
  }

  .nav {
    width: 100%;
    height: auto;
    display: flex;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    background-color: cornsilk;
    overflow: hidden;
    gap: 20px;
  }

  a {
    /* margin: 10px; */
    color: deeppink;
    text-decoration: none;
  }
  
  a:hover {
    color: lightpink;
  }
 
  .flex-parent {
    display:flex;
   flex-wrap: wrap;
   justify-content: center;
  }
  
.card {
    width: 400px;
    height: 200px;
    /* border: 1px solid black; */
    text-align: center;
}

  .card-img {
    height: 90%;
    width: 30%;
  }

  .card-title {
    font-size: 20px;
    background-color: rgb(255, 248, 220, 0.5);
  }

